footer {
  position: relative;
  background-color: #242424;
  display: flex;
  padding: 6% 0;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo--img {
  /* width: 7rem;
  height: 7rem; */
  /* background-color: #fff; */
  /*  */
  color: #fff;
  font-family: "Akshar";
  font-weight: 700;
  font-size: 7.2rem;
  position: relative;
}

.footer__logo--img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 1rem;
  border-radius: 2px;
  background-color: #fff;
}

.footer__social--list {
  width: 100%;
  max-width: 50rem;
  display: flex;
  justify-content: space-around;
  margin: 2.8rem 0;
}

.footer__social--link {
  color: #fff;
  font-size: 1.6rem;
}
