/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:ital,wght@1,100&family=Roboto:wght@400;700;900&family=Rubik:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:ital,wght@1,100&family=Roboto:wght@400;700;900&family=Rubik:ital,wght@0,400;0,500;0,900;1,700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@700&family=Inter:wght@400;500;700&family=Lato:ital,wght@1,100&family=Roboto:wght@400;700;900&family=Rubik:ital,wght@0,400;0,500;0,900;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: #081c15; */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

/* PALETTE */
/* 
#d8f3dc
#40916c
#081c15
*/

.social__link {
  background-color: #40916c;
}

.red {
  color: #40916c !important;
}

section {
  background-color: rgb(245, 245, 245);
  background-color: #d8f3dc;
}

input,
textarea {
  width: 100%;
  background-color: #081c15;
  color: #fff;
  outline: none;
  border: none;
  border-bottom: 3px solid #c0c4cc;
  height: 4rem;
  transition: all 300ms ease;
}

input:hover,
textarea:hover {
  border-color: #dcdfe6;
}

input:focus,
textarea:focus {
  border-color: red;
}

textarea {
  resize: vertical;
  height: 10rem;
  margin-top: 0.8rem;
}

label {
  font-size: 1.4rem;
  font-weight: bold;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 0%;
  height: 3px;
  background-color: #081c15;
  transition: all 300ms ease;
}

.link__hover-effect:hover::after {
  left: 0;
  width: 100%;
}

.link__hover-effect--white::after {
  background-color: #fff;
}

.link__hover-effect--black::after {
  background-color: #000;
}

.container {
  padding: 5rem 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}
.click:active {
  transform: scale(0.8);
}

/* DARK THEME */
#personal-logo,
section,
.scroll__icon,
.scroll__icon::after,
.mail__btn,
.title,
.section__title,
.section__sub-title,
.nav__link--anchor,
.icon--contrast,
.header__para {
  transition: all 300ms ease;
}

.dark-theme .title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
.dark-theme .icon--contrast,
.dark-theme #personal-logo,
.dark-theme .header__para {
  color: #fff;
}

.dark-theme section {
  background-color: #081c15;
}

.dark-theme .scroll__icon {
  border-color: #fff;
}

.dark-theme .scroll__icon::after,
.dark-theme .mail__btn,
.dark-theme .link__hover-effect--black::after,
.dark-theme #personal-logo::after {
  background-color: #fff;
}

.dark-theme .mail__btn {
  color: #081c15;
}
