@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:ital,wght@1,100&family=Roboto:wght@400;700;900&family=Rubik:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

section {
  background-color: rgb(245, 245, 245);
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  padding: 5rem 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.click {
  transition: all 300ms ease;
}
.click:hover {
  transform: scale(1.1);
}
.click:active {
  transform: scale(0.8);
}
